@use "../utils/index.scss" as *;
.code {
  position: relative;
  .copy {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    padding: 3px 10px;
    position: absolute;
    border: none;
    background: rgba($color: #fff, $alpha: 0);
    color: transparent;
    font-weight: 500;

    cursor: pointer;
    right: 1rem;
    top: 1rem;
  }
  &:hover {
    .copy {
      @include trans-300ms;
      border-radius: 5px;
      background: rgba($color: #fff, $alpha: 1);
      color: black;
      &:active {
        transform: scale(1.1);
      }
    }
  }
}
