.markdown_h1 {
  margin: 3rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
}
.markdown_code {
}

// ol {
//   display: block;
//   list-style-type: decimal;
//   margin-block-start: 1rem;
//   margin-block-end: 1rem;
//   margin-inline-start: 0px;
//   margin-inline-end: 0px;
//   padding-inline-start: 40px;
// }
