@use "../utils/" as *;
.app {
  margin-top: 100px;
  @include sm {
    margin-top: 250px;
  }
  .card {
    margin-bottom: 3rem;
    &_title {
      color: $primary-1;
      border-bottom: 1px solid rgba($color: $primary-1, $alpha: 0.3);
      padding-bottom: 1rem;
    }
    &_file {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include lg {
        grid-template-columns: repeat(2, 1fr);
      }
      @include md {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 2rem;
        padding-right: 2rem;
      }

      letter-spacing: 2px;
      font-weight: 400;
      &_content {
        position: relative;
        background-color: $primary-1;
        margin: 2rem 0.5rem;
        border-radius: 0px 5px 5px 5px;
        height: 60px;
        display: flex;
        justify-content: space-between;

        box-shadow: 0 0 20px 1px rgba($color: $primary-1, $alpha: 0.5);

        &_link {
          display: flex;
          align-items: center;
          padding-left: 0.5rem;

          ::-webkit-scrollbar {
            width: 1px;
            height: 6px;
          }
          ::-webkit-scrollbar-track {
            background: rgba($color: $secondary-1, $alpha: 0.7);
          }
          ::-webkit-scrollbar-thumb {
            background: rgba($color: $secondary-2, $alpha: 0.7);
            // background: $secondary-2;
          }
          ::-webkit-scrollbar-thumb:hover {
            background: #555;
          }
          a {
            overflow: auto;
            white-space: nowrap;
            width: 100%;
            @include flex;
            padding: 0rem 1rem;
            color: $secondary-1;
            margin: 0 0.5rem;
            &:hover {
              @include trans-100ms;
              transform: scale(0.95);
            }
          }
        }
        &_popular {
          color: $secondary-1;
          background-color: $primary-1;
          box-shadow: 0 0 20px 1px rgba($color: $primary-1, $alpha: 0.5);
          position: absolute;
          top: -30px;
          padding: 0 0.5rem;
          border-radius: 5px 5px 0px 0px;
          @include flex;
          height: 30px;

          span {
            margin-left: 5px;
            font-size: 0.7rem;
          }
        }
        .back {
          margin-right: 0.5rem;
          @include flex;
          img {
            &:hover {
              @include trans-100ms;
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }
}
