.markdown {
  padding: 0 2rem;
  a {
    width: 1000px;
    height: 100px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
  }
  .content {
    margin: 0 auto;
    width: 1000px;
    padding: 0 2rem;
    h1 {
    }
  }
}
