@mixin flex($direction: "row") {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin position-center($w: 500px, $h: 200px) {
  position: fixed;
  width: $w;
  height: $h;
  top: 50%;
  left: 50%;
  margin-top: calc($h / -2);
  margin-left: calc($w / -2);
}
