@use "../utils/index.scss" as *;
.content {
  max-width: 1400px;
  width: 100%;
  margin: 2rem auto;
  margin-top: 100px;
  padding: 1rem 2rem;
  position: relative;

  @include sm {
    margin-top: $magin-top;
  }

  &_none {
    display: none;
  }

  @include sm {
    @include trans-400ms();
    i {
      display: block;
      right: 0rem;
      position: fixed;
      z-index: 10;
    }
  }

  &_open {
    @include sm {
      @include trans-400ms();
      margin-top: 0px !important;
    }

    @include sm {
      i {
        @include trans-400ms();
        top: 0rem !important;
      }
    }
    .content {
      margin-top: 0;
    }
  }
}
