@use "../utils/" as *;
.header {
  margin: 0 auto;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 0 2rem;
  background-color: rgba($color: $primary-1, $alpha: 0.95);
  color: $secondary-1;
  position: fixed;
  width: 100vw;
  box-shadow: 0 0 20px 1px rgba($color: $primary-1, $alpha: 0.3);
  z-index: 1000;
  @include sm {
    @include trans-100ms;
    height: auto;
    padding: 2rem 0;
    @include flex(column);
  }

  .logo {
    height: 100px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    top: 0;
    left: 2rem;
    z-index: 1000;
    color: $secondary-1;
    @include sm {
      height: 50px;
      display: flex;
      align-items: center;
    }
  }

  input {
    @include sm {
      margin: 1rem;
    }
    margin: 0 auto;
    width: 30%;
    min-width: 180px;
    height: 35px;
    padding-left: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    @include trans-400ms(width);
    &:hover,
    &:focus {
      @include trans-200ms(width);
      width: 70%;
    }
  }
  .howToUse {
    @include sm {
      margin: 1rem;
    }
    color: $secondary-1;
    font-size: 1rem;
    &:hover {
      @include trans-200ms();
      transform: scaleX(0.95);
    }
  }
}

.open {
  transform: translateY(-100%);
}
