@use "../utils/" as *;
.header {
  margin: 0 auto;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 0 2rem;
  background-color: rgba($color: $primary-1, $alpha: 0.95);
  color: $secondary-1;
  position: fixed;
  width: 100vw;

  box-shadow: 0 0 20px 1px rgba($color: $primary-1, $alpha: 0.3);

  z-index: 1000;

  .logo {
    height: 100px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    // position: fixed;
    top: 0;
    left: 2rem;
    z-index: 1000;
    color: $secondary-1;
  }

  input {
    margin: 0 auto;
    width: 30%;
    min-width: 180px;
    height: 35px;
    padding-left: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    @include trans-400ms(width);
    &:hover,
    &:focus {
      @include trans-200ms(width);
      width: 70%;
    }
  }
}
@media screen and (max-width: 390px) {
  .header {
    .logo {
      font-size: 0.8rem;
      margin-right: 1rem;
    }
    input {
      min-width: 100px;
      width: 100%;
    }
  }
}
