@use "../utils/" as *;
.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  background-color: rgba($color: $primary-1, $alpha: 0.95);
  a {
    color: $secondary-1;
    text-decoration: none;
  }
  &_logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: $secondary-1;
  }

  &_menu {
    color: $secondary-1;
    font-size: 14px;
    text-align: right;
    &:hover {
      color: $secondary-2;
    }
    @include sm {
      margin: 1rem;
    }
  }

  @include sm {
    @include trans-100ms;
    height: auto;
    padding: 2rem 0;
    @include flex(column);
  }

  transform: translateY(0);
  @include trans-200ms(transform);

  &_open {
    @include trans-200ms(transform);
    @include sm {
      transform: translateY(-100%);
    }
  }
}
