@use "../utils/" as *;
.layoutBase {
  padding: 0 2rem;
  margin-bottom: 5rem;
  font-weight: 500;

  .home {
    position: fixed;
    height: 100px;
    display: grid;
    align-items: center;

    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

    font-weight: bold;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    z-index: 1000;

    background-color: rgba($color: $primary-1, $alpha: 0.95);
    a {
      margin-left: 2rem;
      color: $secondary-1;
      text-decoration: none;
    }
    .logo {
      height: 100px;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 1.5rem;
      top: 0;
      left: 2rem;
      z-index: 1000;
      color: $secondary-1;
      @include sm {
        height: 50px;
        display: flex;
        align-items: center;
      }
    }

    .search-box {
      display: flex;

      input {
        margin: 0 auto;
        width: 30%;
        min-width: 180px;
        height: 35px;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
        @include trans-400ms(width);

        &:hover,
        &:focus {
          @include trans-200ms(width);
          width: 70%;
        }

        @include sm {
          margin: 1rem;
        }
      }

      .box {
        margin: 0;
        position: absolute;
        width: 80vw;
        left: 50%;
        top: 100px;
        margin-left: calc(80vw / -2);
        display: flex;
        border-radius: 0px 0px 5px 5px;
        @include sm {
          // display: none;
          z-index: 10;
        }

        &_menu {
          padding: 1rem 2rem;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
          width: 100%;

          button {
            padding: 0.3rem;
            margin: 0.5rem 1rem;
            font-size: 1.5rem;
            background: transparent;
            color: $secondary-1;
            border: 1px solid $secondary-1;
            border-radius: 5px;
            cursor: pointer;
          }
        }

        background: $primary-1;
        height: 0;
        min-height: 0;
        overflow: hidden;
        @include trans-300ms();

        .bg {
          content: "";
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          z-index: -1;
          display: none;
          @include trans-400ms;
        }

        .display-block {
          @include trans-400ms;
          display: block !important;
          background: rgba($color: $primary-1, $alpha: 0.2);
        }
      }
      .disable {
        height: 100%;
        min-height: 50vh;
        overflow: auto;

        @include sm {
          top: 209px;
          min-height: 100px;
          margin-left: 0;
          left: 0;
          width: 100vw;
        }

        &::-webkit-scrollbar {
          width: 10px;
          height: 10px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background: #888;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }

        button {
          &:hover {
            @include trans-200ms;
            background: $secondary-1;
            color: $primary-1;
            border: 1px solid transparent;
            font-weight: bold;
          }
        }
      }
    }

    @include sm {
      @include trans-100ms;
      height: auto;
      padding: 2rem 0;
      @include flex(column);
    }
  }
  .content {
    margin-top: 100px;
  }
}
