@use "../utils/" as *;
.layout {
  main {
    // @include sm {
    //   margin-top: 2rem;
    // }
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    // margin-left: $magin-munu;
    padding: 2rem;
  }
}
