@use "../utils" as *;

.menubar {
  display: none;
  min-width: $magin-munu;
  width: $magin-munu;
  @include trans-300ms(width);
  &:hover {
    min-width: 300px;
    width: 30%;
  }
  height: 100vh;
  top: 0;
  background-color: rgba($color: $primary-1, $alpha: 0.9);
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 2rem;
  padding: 0 1rem;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: none;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba($color: $primary-1, $alpha: 0.4);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $primary-1, $alpha: 1);
  }

  ul {
    width: 100%;
    padding: 0 2px;
    @include flex(column);
    a {
      color: $primary-2;
      width: 100%;
      margin: 10px 0;
    }
  }
  .img {
    height: calc(100px);
    @include flex;
    .logo {
      letter-spacing: 1.5px;
      font-weight: bold;
      color: $primary-2;
    }
  }
}
