@use "../utils/" as *;

.search {
  display: flex;

  &_input {
    @include flex;
    border-radius: 5px;
    width: 100%;

    input[type="text"] {
      min-width: 200px;
      width: 35%;
      outline: none;
      height: 35px;
      padding: 0 1rem;
      border-radius: 5px;
      border: none;
      @include trans-200ms(width);
      &:focus {
        @include trans-200ms(width);
        width: 80%;
      }

      @include sm {
        margin: 1rem 0;
      }
    }
  }
  &_colse {
    margin-left: -1.5rem;
    cursor: pointer;
    @include flex;
    &_none {
      display: none;
    }
  }

  &_box {
    width: 80vw;
    margin-left: calc(80vw / -2);
    height: 0;
    min-height: 0;
    background: $primary-1;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 100px;
    border-radius: 0px 0px 5px 5px;
    @include trans-300ms();

    &_menu {
      padding: 4rem 4rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      width: 100%;
      button {
        padding: 0.3rem;
        margin: 0.5rem 1rem;
        font-size: 1.5rem;
        background: transparent;
        color: $secondary-1;
        border: 1px solid $secondary-1;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background: $secondary-1;
          @include trans-200ms;
          color: $primary-1;
          border: 1px solid transparent;
          font-weight: bold;
        }
      }
    }

    &_bg {
      display: none;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      background: rgba($color: $primary-1, $alpha: 1);
    }
    &_bg_close {
      display: block;
      background: rgba($color: $primary-1, $alpha: 0.3);
    }

    @include sm {
      display: none;
    }
    @include scroll-search-box;
  }
  &_box_open {
    height: 100%;
    min-height: 50vh;
    overflow: auto;

    @include sm {
      top: 209px;
      min-height: 100px;
      margin-left: 0;
      left: 0;
      width: 100vw;
    }
  }
}
